<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom">
		<clear/>
	    <error statusCode="404" path="/" responseMode="Redirect"/>
	</httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="Arr-Disable-Session-Affinity" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>